@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
}

html {
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 4.5rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

h4 {
    font-size: 1.1rem;
    font-family: 'Roboto Mono', monospace;
}

h5 {
    font-size: 0.9rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

h6 {
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
    font-weight: lighter;
}

p {
  font-size: 0.65rem;
  font-family: 'Roboto Mono';
  font-weight: lighter;
}

.bold {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

/*#region BACKGROUND*/

body{
    /* background-color: #662020; */
    color: white;
    /* background: linear-gradient(110deg, #662020 60%, #8b2e2e 60%); */
    /* background: linear-gradient(110deg, #8b2e2e 60%, #a33c3c 60%); */
    background: linear-gradient(110deg, #a33b3b 60%, #ca5252 60%);

    /* 8b2e2e */
}

.noise::before{
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.09;  
    z-index: -1000;
    /* pointer-events: none; */
    background: url(https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif) ;
}

/* .noise2::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    content: "";
    you can control opacity of noise 
    opacity: 0.12;  
    z-index: 10000;
    pointer-events: none;
    background: url(https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif) ;
}  */


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #8b2e2e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #8b2e2e;
    opacity: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px none #000000;
  }

.general-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
            /* "navbar" */
            "presentation"
            "projects"
            "contact";
    width: 100%;
    height: 100vh;
}

/*#endregion BACKGROUND*/


/*#region NAVBAR*/

.general-navbar {
    /* grid-area: navbar; */
    width: 100%;
    position: fixed;
    min-height: 50px;
    z-index: 1000;
}

nav {
    width: 100%;
    display: grid;
    height: 100%;
    z-index: 10000;
    grid-template-columns: 20% 45% 35%;
    grid-template-areas: 
        "home nothing links";
    place-items: center;
    position: relative;
    color: white;
    /* border-bottom: 3px solid black; */
    margin: auto;
    min-height: 50px;
    /* background-color: #000000; */
    /* opacity: 0.8; */
    z-index: 1000;
}

.home {
    grid-area: home;
    position: absolute;
    bottom: 5px;
}

.links {
    position: absolute;
    bottom: 5px;
    grid-area: links;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    grid-area: links;
    list-style: none;
    text-decoration: none;
    padding: 0 40px;
}


nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Mono', monospace;

  } 

/*#endregion NAVBAR*/


 /*#region PRESENTATION*/

.general-presentation {
    grid-area: presentation;
}

.presentation-container {
    display: grid;
    width: 70%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text picture";
    margin: auto;
    position: relative;
    margin-top: 6%;
    /* padding-bottom: 4%; */
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 6rem;
} 

.text-container {
    grid-area: text;
    /* place-self: center; */
    display: grid;
    grid-template-rows: 20% 30% 30% 10% 10%;
    grid-template-areas:
        "hello"
        "name"
        "last-name"
        "sentence1"
        "sentence2" ;

}

.picture {
    grid-area: picture;
    /* background: orange; */
    clip-path: polygon(100% 69%, 81% 55%, 79% 34%, 71% 0, 15% 0, 6% 6%, 0 25%, 1% 42%, 14% 61%, 
                        27% 72%, 21% 81%, 28% 92%, 35% 100%, 45% 100%, 88% 83%, 100% 76%);
    shape-outside: polygon(100% 69%, 81% 55%, 79% 34%, 71% 0, 15% 0, 6% 6%, 0 25%, 1% 42%, 14% 61%, 
                            27% 72%, 21% 81%, 28% 92%, 35% 100%, 45% 100%, 88% 83%, 100% 76%);
}

.picture img {
    width: 100%;
    height: 100%;
    place-items: center;
    margin: auto;
    float :right
}

.text-container h1 {
    grid-area: 
        name
        last-name;
    margin-right: 0;
    text-align: center;
}

.text-container h2 {
    grid-area: 
        hello;
    text-align: center;
}

.text-container h4 {
    grid-area: 
        sentence1
        sentence2;
    text-align: center;
}

/*#endregion PRESENTATION*/


/*#region PROJECTS*/  

.general-projects{
    grid-area: projects;
    padding-bottom: 1rem;
}

.general-projects h2 {
  text-align: center;
  padding: 3rem 0;
}

.projects-container {
  display: flex;
  justify-content: space-around;
  place-self: center;
}

.project {
  opacity: 0;
  /* transition: all 2s; */
  filter: blur(5px);
  transform: translateX(-100%);
  width: 300px;
  height: 550px;
  border: 1.5px solid black;
  box-shadow: 5px 5px 20px rgb(31, 31, 31);
  transition: all .2s ease-in-out; 
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.project:hover {
  transform: scale(1.1); 
}

.project a {
  color: white;
  text-decoration: none;
}

.project img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: 1.5rem;
  object-fit: cover;
  width: 80%;
  max-height: 80%;
}

.project h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}

.project-text{
  width: 80%;
  margin: auto;
  

}

.project p {
  right: 0;
  bottom: 1rem;
}


/* .projects-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "project1 project2"
        "project3 project4";
    width: 80%;
    margin: auto;
}

.general-projects h2 {
    text-align: center;
    padding: 3rem 0;
}

.general-projects h3 {
    text-align: center;
}

.general-projects img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding: 1.5rem;
    object-fit: cover;
    width: 80%;
    max-height: 80%;
}

.project1 {
    grid-area: project1;
    padding-bottom: 3rem;
}

.project2 {
    grid-area: project2;
    padding-bottom: 3rem;
}

.project3 {
    grid-area: project3;
    padding-bottom: 3rem;
}

.project4 {
  grid-area: project4;
  padding-bottom: 3rem; 
}*/




/*#endregion PROJECT*/


/*#region CONTACT*/

.general-contact {
    grid-area: contact;
    /* z-index: 10000; */
}

.general-contact h2 {
    text-align: center;
    padding: 3rem 0;
}

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    /* padding: 20px; */
    position: relative;
    /* max-width: 840px; */
    width: 60%;
    padding-bottom: 3.5rem;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    /* max-width: 400px; */
    /* font-family: 'Lato'; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    width: 50%;
  }
  
  .form-control, 
  textarea {
    /* max-width: 400px; */
    width: 100%;
    height: 1rem;
    background-color: transparent;
    border: solid black thin;
    color: #fff;
    letter-spacing: 1px;
    margin-top: .5rem;
  }
  
  .form-control2, 
  textarea {
    /* max-width: 400px; */
    width: 100%;
    height: 10rem;
    background-color: transparent;
    border: solid black thin;
    color: black;
    letter-spacing: 1px;
    margin-top: .5rem;
  }

  .send-button {
    margin-top: 15px;
    height: 2rem;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 100%;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    /* font: 700 12px 'Lato', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }

  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    /* margin-left: -30px; */
    /* padding-right: 20px; */
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    /* font: 300 18px 'Lato', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }

  /*#endregion CONTACT*/

  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  You now have a contact form that sends all sub
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }


/*#region SPOTIFY*/

.general-grid-spotify {
  display: grid;
  grid-template-rows: auto auto auto;
  /* grid-template-columns: auto; */
  grid-template-areas: 
          "title"
          "more"
          "body2";
  width: 100%;
  height: 100vh;
}

.spotify-presentation {
  grid-area: title;
  width: 80%;
  margin: auto;
}

.spotify-presentation h2 {
  /* align-self: center; */
  /* place-self: center; */
  text-align: center;
  padding-top: 2%;
  /* justify-self: center; */
}

.spotify-presentation h3 {
  padding: 2% 0;
}

.first-part-spot {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: "text1 gif1";
  padding-top: 4%;
  padding-bottom: 2%;
}

.first-part-spot h5 {
  grid-area: text1;
  text-align: justify;
}

.first-part-spot img {
  grid-area: gif1;
  width: 80%;
  height: 10rem;
  place-self: center;
}

.second-part-spot {
  padding-top: 1%;
}

.second-part-spot img {
  width: 30rem;
  height: 25rem;
  display: block;
  margin: auto;
  padding: 2% 0;

}

.more {
  grid-area: more;
  width: 80%;
  margin: auto;
}

.more h4 {
  padding: 4% 0;
}

.more a {
  color: white;
  text-decoration: none;
}

/*#endregion SPOTIFY*/