@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
}

html {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 4.5rem;
    
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    font-size: 2rem;
    font-family: 'Roboto Mono', monospace;
}

h4 {
    font-size: 1.1rem;
    font-family: 'Roboto Mono', monospace;
}

h5 {
    font-size: 0.9rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}

h6 {
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
    font-weight: lighter;
}

p {
  font-size: 0.65rem;
  font-family: 'Roboto Mono';
  font-weight: lighter;
}

.bold {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

/*#region BACKGROUND*/

body{
    /* background-color: #662020; */
    color: white;
    /* background: linear-gradient(110deg, #662020 60%, #8b2e2e 60%); */
    /* background: linear-gradient(110deg, #8b2e2e 60%, #a33c3c 60%); */
    background: linear-gradient(110deg, #a33b3b 60%, #ca5252 60%);

    /* 8b2e2e */
}

.noise::before{
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.09;  
    z-index: -1000;
    /* pointer-events: none; */
    background: url(https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif) ;
}

/* .noise2::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    content: "";
    you can control opacity of noise 
    opacity: 0.12;  
    z-index: 10000;
    pointer-events: none;
    background: url(https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif) ;
}  */


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #8b2e2e;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #8b2e2e;
    opacity: 0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px none #000000;
  }

.general-grid{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
            /* "navbar" */
            "presentation"
            "projects"
            "contact";
    width: 100%;
    height: 100vh;
}

/*#endregion BACKGROUND*/


/*#region PRESENTATION*/

.general-presentation {
    grid-area: presentation;
}

.presentation-container {
    display: grid;
    width: 70%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text picture";
    margin: auto;
    position: relative;
    margin-top: 6%;
    /* padding-bottom: 4%; */
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 6rem;
} 

.text-container {
    grid-area: text;
    /* place-self: center; */
    display: grid;
    grid-template-rows: 20% 30% 30% 10% 10%;
    grid-template-areas:
        "hello"
        "name"
        "last-name"
        "sentence1"
        "sentence2" ;

}

.picture {
    grid-area: picture;
    /* background: orange; */
    clip-path: polygon(100% 69%, 81% 55%, 79% 34%, 71% 0, 15% 0, 6% 6%, 0 25%, 1% 42%, 14% 61%, 
                        27% 72%, 21% 81%, 28% 92%, 35% 100%, 45% 100%, 88% 83%, 100% 76%);
    shape-outside: polygon(100% 69%, 81% 55%, 79% 34%, 71% 0, 15% 0, 6% 6%, 0 25%, 1% 42%, 14% 61%, 
                            27% 72%, 21% 81%, 28% 92%, 35% 100%, 45% 100%, 88% 83%, 100% 76%);
}

.picture img {
    width: 100%;
    height: 100%;
    place-items: center;
    margin: auto;
    float :right
}

.text-container h1 {
    grid-area: 
        name
        last-name;
    margin-right: 0;
    text-align: center;
}

.text-container h2 {
    grid-area: 
        hello;
    text-align: center;
}

.text-container h4 {
    grid-area: 
        sentence1
        sentence2;
    text-align: center;
}
@media (max-width: 1250px) {
  .presentation-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto; 
    grid-template-areas: 
                  "text"
                  "picture";
    gap: 4rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .picture {
    width: 70%;
  }
}



/*#endregion PRESENTATION*/


/*#region PROJECTS*/  

.general-projects{
    grid-area: projects;
    padding-bottom: 1rem;
}

.general-projects h2 {
  text-align: center;
  padding: 3rem 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2rem; */
  row-gap: 2rem;
  justify-content: space-around;
  place-self: center;
}

.project {
  opacity: 0;
  /* transition: all 2s; */
  filter: blur(5px);
  transform: translateX(-100%);
  flex-basis: 30%; 
  width: 80%;
  /* height: 50px; */
  border: 1.5px solid black;
  box-shadow: 5px 5px 20px rgb(31, 31, 31);
  transition: all .05s ease-in-out; 
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.project:hover {
  transform: scale(1.05); 
}

.project a {
  color: white;
  text-decoration: none;
}

.project img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding: 1.5rem;
  object-fit: cover;
  /* height: 11rem; */
  width: 80%;
  height: 29%;
}

.project h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}

.project-text{
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}

.project-text h5 {
  font-size: 0.7rem;
}

.project p {
  right: 0;
  bottom: 1rem;
}


.github-container{
  display: flex;
  padding: .3rem;
  padding-bottom: .2rem;
}

.github {
  /* border: solid;
  border-color: black;
  border-width: 0.1rem; */
  /* display: flex; */
  display: inline-block;
  background-color: #000;
  width: fit-content;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  background-image: linear-gradient(to left,
  transparent,
  transparent 50%,
  #201d1d 50%,
  #201d1d);
  margin-top: .3rem;
  margin-bottom: 1.5rem;
  border-radius: 20px;
}

.github:hover {
  /* background-color: rgb(32, 29, 29);  */
  /* border-color: rgb(32, 29, 29); */
  cursor: pointer;
  background-position: 0 0;

  /* color: #000000; */
}

.github h5 {
  padding-left: .5rem;
  
}

/* .github h5:hover{
  color: black;
} */

.github i {
  width: 1rem;
}

/* .github i:hover{
  color: black;
} */

.coming-soon h3, .coming-soon img, .coming-soon h6, .coming-soon h5{
  filter: blur(4.5px);
}

.coming-soon {
  text-align: center;
}

.image-text {
  /* background-image: url(); */
  /* background-size: cover; */
  /* background-clip: text; */
  /* color: transparent; */
  filter: blur(0px);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:1rem;
}

.wrapper{
  width:200px;
  height:60px;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.circle{
  width:15px;
  height:15px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left:15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top:60px;
      height:5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
  }
  40%{
      height:20px;
      border-radius: 50%;
      transform: scaleX(1);
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.shadow{
  width:15px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
      transform: scaleX(1);
      opacity: .7;
  }
  100%{
      transform: scaleX(.2);
      opacity: .4;
  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.wrapper span{
  position: absolute;
  top:75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left:15%;
}

@media (max-width: 1160px) {
  .projects-container {
    flex-direction: column;
    align-items:center;
    gap: 4rem;
  }

}
/*#endregion PROJECT*/


/*#region CONTACT*/

.general-contact {
    grid-area: contact;
    /* z-index: 10000; */
}

.general-contact h2 {
    text-align: center;
    padding: 3rem 0;
}

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    /* padding: 20px; */
    position: relative;
    /* max-width: 840px; */
    width: 60%;
    padding-bottom: 3.5rem;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    /* max-width: 400px; */
    /* font-family: 'Lato'; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    width: 50%;
  }
  
  .form-control, 
  textarea {
    /* max-width: 400px; */
    width: 100%;
    height: 1rem;
    background-color: transparent;
    border: solid black thin;
    color: #fff;
    letter-spacing: 1px;
    margin-top: .5rem;
  }
  
  .form-control2, 
  textarea {
    /* max-width: 400px; */
    width: 100%;
    height: 10rem;
    background-color: transparent;
    border: solid black thin;
    color: black;
    letter-spacing: 1px;
    margin-top: .5rem;
  }

  .send-button {
    margin-top: 15px;
    height: 2rem;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 100%;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    /* font: 700 12px 'Lato', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }

  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    /* margin-left: -30px; */
    /* padding-right: 20px; */
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    /* font: 300 18px 'Lato', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }

  @media (max-width: 1150px) {
    /* .form-horizontal {
      padding-right: .5rem;
    } */

    .direct-contact-container{
      padding-left: 1rem;
    }
  }

  @media (max-width: 1050px) {
    .contact-wrapper{
      display: grid;
      grid-template-rows: 60% 40%;
      grid-template-areas: 
              "message"
              "other";
      width: 100%;
      text-align: center;
      justify-content: center;
    }

    .form-horizontal {
      grid-area: message;
      width: 28rem;
      padding: 0px;
      margin: auto;
      justify-content: center;
    }

    .direct-contact-container{
      grid-area: other;
      padding-top: 0;
      place-self: center;
    }

    .direct-contact-container list-item{
      padding: 0;
    }

  }

  @media (max-width: 550px) {
    .form-horizontal {
      width: 20rem;

    }
  }

  @media (max-width: 350px) {
    .form-horizontal {
      width: 13rem;

    }

    .direct-contact-container {
      /* width: 10rem; */
    }
  }

  /*#endregion CONTACT*/


/*#region SPOTIFY*/

.general-grid-spotify {
  display: grid;
  grid-template-rows: auto auto auto;
  /* grid-template-columns: auto; */
  grid-template-areas: 
          "title"
          "more"
          "body2";
  width: 100%;
  height: 100vh;
}

.spotify-presentation {
  grid-area: title;
  width: 80%;
  margin: auto;
}

.spotify-presentation h2 {
  /* align-self: center; */
  /* place-self: center; */
  text-align: center;
  padding-top: 2%;
  /* justify-self: center; */
}

.spotify-presentation h3 {
  padding: 2% 0;
}

.first-part-spot {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: "text1 gif1";
  padding-top: 4%;
  padding-bottom: 2%;
}

.first-part-spot h5 {
  grid-area: text1;
  text-align: justify;
}

.first-part-spot img {
  grid-area: gif1;
  width: 80%;
  height: 10rem;
  place-self: center;
}

.second-part-spot {
  padding-top: 1%;
}

.second-part-spot img {
  width: 30rem;
  height: 25rem;
  display: block;
  margin: auto;
  padding: 2% 0;

}

.more {
  grid-area: more;
  width: 80%;
  margin: auto;
}

.more h4 {
  padding: 4% 0;
}

.more a {
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  .first-part-spot {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
            "text-spot"
            "gif";
  }

  .first-part-spot h5{
    grid-area: text-spot;
  }

  .first-part-spot img {
    grid-area: gif;
    padding-top: 1rem;
  }
}

@media (max-width: 600px) {
  .second-part-spot img {
    width: 22rem;
  }
}

@media (max-width: 450px) {
  .second-part-spot img {
    width: 17rem;
    height: 17rem;
  }
}

/*#endregion SPOTIFY*/


/*#region COUNTRIES*/

.models-countries{
  padding: 1.5rem 3rem;
}


/*#endregion COUNTRIES*/