<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country data API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='website.css') }}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='http.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='main/n.png') }}">
</head>
<body>
    <div class="noise"></div>

    <section class="general-grid-spotify">
        <div class="spotify-presentation">
            <h2 class="title">Countries API</h2>
            <h3>So... how does it work?</h3>
            <h5>My goal with this project was to create an API that allows the user to access some of 
                the main economic indicators of a country. <br> To do so I laid out the structure I 
                wanted the database to have, which was the following:</h5>
            <div class="models-countries">
                <!-- <h5>	Three models: <br>
                    1.- Countries: includes all the economics indicators and has relationships with both 
                    of the other tables <br>
                    2.- Continents: contains the continents names and ids <br>
                    3.- Regions: contains the regions names and ids
                </h5> -->
                <ol> Three models:
                    <li>Countries: includes all the economics indicators and has relationships with both 
                        of the other tables</li>
                    <li>Continents: contains the continents names and ids</li>
                    <li>Regions: contains the regions names and ids</li>
                </ol>
                <!-- <img src="/static/spotify/spotify.gif" alt=""> -->
            </div>
            <!-- <h3>Let's get a bit more into it...</h3> -->
            <div class="second-part-spot">
                <h5>This was done through the SQLAlchemy ORM, which allows us to communicate to the 
                    database using Python by acting like a “bridge” between them. </h5>
                    <!-- <img src="/static/spotify/AuthoriztionCode.png" alt=""> -->
                    <h5>To write endpoints I used FastAPI, a framework typically used to build APIs. Each 
                        endpoint calls a CRUD (Create, Read, Update, Delete) function that allows the user 
                        to manipulate the database data in some way. </h5>
                        <h5> <br> Finally, in regards to hosting, it is done using Docker to create a container which is 
                            an isolated lightweight Linux environment with all necessary dependencies installed.</h5>
                        </div>
                        <div class="bgimg">
                            <input class="button-api" type="text" id="input">
                            <button  id="button">click me</button> 
                            <pre class="api_box" id="output"></pre>
                        </div>
                    </div>
                    <div class="more">
                        <h4> <a href="{{ url_for('main') }}">Check out my other projects!</a></h4>
        </div>
    </section>

    <script>
        makeAPIButton("GET", "http://nathalie.kpielat.pl/api/country", null, null, "#input", "#button", "#output"); 
    </script>
</body>
</html>