<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/website.css">
</head>
<body>
    <div class="noise"></div>

    <section class="general-grid-spotify">
        <div class="spotify-presentation">
            <h2 class="title">Countries API</h2>
            <h3>So... how does it work?</h3>
            <h5>My goal with this project was to create an API that allows the user to access some of 
                the main economic indicators of a country. <br> To do so I laid out the structure I 
                wanted the database to have, which was the following:</h5>
            <div class="models-countries">
                <h5>	Three models: <br>
                    1.- Countries: includes all the economics indicators and has relationships with both 
                    of the other tables <br>
                    2.- Continents: contains the continents names and ids <br>
                    3.- Regions: contains the regions names and ids
                </h5>
                <!-- <img src="/static/spotify/spotify.gif" alt=""> -->
            </div>
            <!-- <h3>Let's get a bit more into it...</h3> -->
            <div class="second-part-spot">
                <h5>This was done through the SQLAlchemy ORM, which allows us to communicate to the 
                    database using Python by acting like a “bridge” between them. </h5>
                <!-- <img src="/static/spotify/AuthoriztionCode.png" alt=""> -->
                <h5>To write endpoints I used FastAPI, a framework typically used to build APIs. Each 
                    endpoint calls a CRUD (Create, Read, Update, Delete) function that allows the user 
                    to manipulate the database data in some way. </h5>
                <h5> <br> Finally, in regards to hosting, it is done using Docker to create a container which is 
                    an isolated lightweight Linux environment with all necessary dependencies installed.</h5>
            </div>
        </div>
        <div class="more">
            <h4> <a href="/index.html#general-projects">Check out my other projects!</a></h4>
        </div>
    </section>
</body>
</html>