<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/website.css">
    <title>Nathalie's Portfolio</title>
</head>
<body>
  
    <div class="noise"></div>

    <!-- <section class="general-navbar">
        <nav>
            <div class="home">
                <li id="home"><a  href="#homepage">HOME</a></li>     
            </div>
            
            <div class="links">
                <ul>
                    <li id="Projects"><a  href="#general-projects">Projects</a></li>
                    <li id="Contact"><a  href="#contact">Contact</a></li>
                    <li id="CV"><a  href="/cv.pdf">CV</a></li>
                </ul>                
            </div>
        </nav> -->
        
    </section>
    
    <div class="general-grid">
        <section id="homepage" class="general-presentation">
            <div class="presentation-container">
                <div class="text-container">
                    <h2>Hello, I'm</h2>
                    <h1 id="name">NATHALIE</h1>
                    <h1 id="name">GALVEZ </h1>
                    <h4>Aspiring backend developer</h4>
                    <h4>Based in France</h4>
                </div>

                <div class="picture">
                    <img src="/images/pngegg.png" alt="computer">
                </div>
                
            </div>
            
        </section>

        <section id="general-projects" class="general-projects">
            <h2>PROJECTS </h2>
            <div class="projects-container">
                
                <div class="project">
                    <h3> <a href="/templates/spotify.html"> Spotify Language Sorter </a></h3>
                    <a href="/templates/spotify.html"> <img src="/images/placeholder.png" alt="placeholder"> </a>
                    <div class="project-text">
                      <h6> This sorter takes all the liked songs of a user and classifies them by language creating a playlist for each of them. </h6>
                      <h5><span class="bold"> <br> Tools:</span>Python,Flask, <br> Docker </h5>
                      <h5><span class="bold">Github link:</span></h5>
                      <!-- <p>Learn more ></p> -->
                    </div>
                </div>

                <div class="project">
                    <h3>API For Countries</h3>
                    <img src="/images/placeholder.png" alt="placeholder">
                    <div class="project-text">
                      <h6> <br> API that allows you to retrieve economic indicator on countries around the world</h6>
                      <h5> <span class="bold"> <br>  Tools:</span>Python,SQLAlchemy, <br> FastAPI,Docker</h5>
                      <h5><span class="bold">Github link:</span></h5>
                      <!-- <p>Learn more ></p> -->
                    </div>
                </div>

                <div class="project">
                    <h3>Youtube Trends: Analysis</h3>
                    <img src="/images/placeholder.png" alt="placeholder">
                    <div class="project-text">
                      <h6> <br> Analysis on the relation between certain video parameters among 11 countries around the world </h6>
                      <h5><span class="bold"><br>Tools:</span> Python</h5>
                      <h5><span class="bold">Github link:</span></h5>
                      <!-- <p>Learn more ></p> -->
                    </div>
                </div>

                <!-- <div class="project">
                  <h3>Project 4</h3>
                  <img src="/images/placeholder.png" alt="placeholder">
                  <h5>Tools:</h5>
                  <h5>Github link:</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                      molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                      numquam </p>
              </div> -->
            </div>
        </section>

        <section id="contact" class="general-contact">
          <php
            include(contact-form-process.php);
          ?>
            <h2>LET'S CONNECT! </h2>
            <div class="contact-wrapper">
  
                <!-- Left contact page --> 
                  
                  <form id="contact-form" class="form-horizontal" role="form" action="contact-form-process.php" method="post">
                     
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                      </div>
                    </div>
              
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                      </div>
                    </div>
              
                    <textarea class="form-control2" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                    
                    <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                      <div class="alt-send-button">
                        <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                      </div>
                    
                    </button>
                    
                  </form>
                  
                <!-- Left contact page --> 
                  
                    <div class="direct-contact-container">
              
                      <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">France</span></i></li>
                        
                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">+33 0749132609</a></span></i></li>
                        
                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">nathaliegalvez8@gmail.com</a></span></i></li>
                        
                      </ul>
              
                      <hr>
                      <ul class="social-media-list">
                        <li><a href="#" target="_blank" class="contact-icon">
                          <i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                          <i class="fa fa-codepen" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                          <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                          <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>       
                      </ul>
                      <hr>
              
              
                    </div>
                  
                </div>

        </section>

    </div>

    <script>
    
    const observer = new IntersectionObserver((entries) =>  {
      entries.forEach((entry) => {
        console.log(entry)
        if (entry.isIntersecting) {
          entry.target.classList.add('show');
        } else {
          entry.target.classList.remove('show')
        }
      })
    })

    const hiddenElements = document.querySelectorAll('.project');
    hiddenElements.forEach((el) => observer.observe(el))




        document.querySelector('#contact-form').addEventListener('submit', (e) => {
    e.preventDefault();
    e.target.elements.name.value = '';
    e.target.elements.email.value = '';
    e.target.elements.message.value = '';
  });

    </script>

</body>

</html>

