<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/website.css">
    <title>Nathalie's Portfolio</title>
    <script src="https://kit.fontawesome.com/6b510f28ef.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/n5.png">
</head>
<body>
  
    <div class="noise"></div>

    <!-- <section class="general-navbar">
        <nav>
            <div class="home">
                <li id="home"><a  href="#homepage">HOME</a></li>     
            </div>
            
            <div class="links">
                <ul>
                    <li id="Projects"><a  href="#general-projects">Projects</a></li>
                    <li id="Contact"><a  href="#contact">Contact</a></li>
                    <li id="CV"><a  href="/cv.pdf">CV</a></li>
                </ul>                
            </div>
        </nav> -->
        
    </section>
    
    <div class="general-grid">
        <section id="homepage" class="general-presentation">
            <div class="presentation-container">
                <div class="text-container">
                    <h2>Hello, I'm</h2>
                    <h1 id="name">NATHALIE</h1>
                    <h1 id="name">GALVEZ </h1>
                    <h4>Aspiring backend developer</h4>
                    <h4>Based in France</h4>
                </div>

                <div class="picture">
                    <img src="/images/pngegg.png" alt="computer">
                </div>

            </div>
            
        </section>

        <section id="general-projects" class="general-projects">
            <h2>PROJECTS </h2>
            <div class="projects-container">
                
                <div class="project">
                    <h3> <a href="spotify.html"> Spotify Language Sorter </a></h3>
                    <a href="spotify.html"> <img class="spotify-cover" src="/static/spotify/spotify_cover.png" alt="placeholder"> </a>
                    <div class="project-text">
                      <h5><span class="bold"> <br> Tools: </span>Python,Flask, Docker </h5>
                      <div class="github">
                        <div class="github-container">
                          <a href="https://github.com/nathaliega/spotify" target="_blank" class="contact">
                          <i class="fa fa-github" aria-hidden="true"></i></a>
                          <h5><a href="https://github.com/nathaliega/spotify" target="_blank"><span class="bold">Github</span></a></h5>
                        </div>
                        </div>
                        <h6> This sorter takes all the liked songs of a user and classifies them by language creating a playlist for each of them. </h6>
                        <h5> <span class="bold"> <a href="http://178.217.113.103/spotify/" target="_blank"> <br> Try it out!</a></span></h5>
                      <!-- <p>Learn more ></p> -->
                    </div>  
                </div>

                <div class="project second-row">
                    <h3> <a href="countries.html">API For Countries Data </a></h3>
                    <a href="countries.html"> <img src="/images/placeholder.png" alt="placeholder"> </a>
                    <div class="project-text">
                      <h5> <span class="bold"> <br>  Tools: </span>Python,SQLAlchemy,FastAPI, Docker</h5>
                      <div class="github">
                        <div class="github-container">
                          <a href="https://github.com/nathaliega/api-countries" target="_blank" class="contact">
                            <i class="fa fa-github" aria-hidden="true"></i></a>
                            <h5><a href="https://github.com/nathaliega/api-countries" target="_blank"><span class="bold">Github</span></a></h5>
                          </div>
                        </div>
                        <!-- <h5><span class="bold">Github:</span><a href="https://github.com/nathaliega/api-countries" target="_blank"> <br> https://github.com/nathaliega/api-countries</a> </h5> -->
                      <h6>API that allows you to retrieve economic indicators on countries around the world</h6>
                      <h5><span class="bold"><br> Try it out!</span></h5>
                      <!-- <p>Learn more ></p> -->
                    </div>
                </div>

                <div class="project">
                    <h3><a href="youtube.html">Youtube Trends: Analysis</a></h3>
                    <a href="youtube.html"> <img  src="/static/youtube/youtube_cover.png" alt="placeholder"> </a>
                    <div class="project-text">
                      <h5><span class="bold"><br>Tools: </span> Python</h5>
                      <div class="github">
                        <div class="github-container">
                          <a href="https://github.com/nathaliega/youtube-trends" target="_blank" class="contact">
                            <i class="fa fa-github" aria-hidden="true"></i></a>
                            <h5><a href="https://github.com/nathaliega/youtube-trends" target="_blank"><span class="bold">Github</span></a></h5>
                          </div>
                        </div>
                        <h6>Analysis on the relation between certain video parameters among 11 countries around the world </h6>
                      <!-- <h5><span class="bold">Github:</span><a href="https://github.com/nathaliega/youtube" target="_blank"> <br> https://github.com/nathaliega/youtube</a> </h5> -->
                      <!-- <p>Learn more ></p> -->
                    </div>
                </div>

                <div class="project">
                  <h3><a href="sentiment identificator.html">Sentiment Identificator</a></h3>
                  <a href="sentiment identificator.html"> <img src="/images/placeholder.png" alt="placeholder"> </a>
                  <div class="project-text">
                    <h5><span class="bold"><br>Tools:</span> Python</h5>
                    <div class="github">
                      <div class="github-container">
                        <a href="https://github.com/nathaliega/sentiment-identificator" target="_blank" class="contact">
                          <i class="fa fa-github" aria-hidden="true"></i></a>
                          <h5><a href="https://github.com/nathaliega/sentiment-identificator" target="_blank"><span class="bold">Github</span></a></h5>
                        </div>
                      </div>
                      <h6>Analysis on the relation between certain video parameters among 11 countries around the world </h6>
                    <!-- <h5><span class="bold">Github:</span><a href="https://github.com/nathaliega/youtube" target="_blank"> <br> https://github.com/nathaliega/youtube</a> </h5> -->
                    <!-- <p>Learn more ></p> -->
                  </div>
                </div>

                <div class="project coming-soon">
                  <h3>Fake News Detector</h3>
                  <h4 class="image-text">COMING SOON...</h4>
                  <div class="wrapper">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="shadow"></div>
                    <div class="shadow"></div>
                    <div class="shadow"></div>
                </div>
                  <img src="/images/placeholder.png" alt="placeholder">
                  <div class="project-text">
                    <h6> <br> Analysis on the relation between certain video parameters among 11 countries around the world </h6>
                    <h5><span class="bold"><br>Tools:</span> Python</h5>
                    <h5><span class="bold">Github:</span><a href="https://github.com/nathaliega/youtube" target="_blank"> <br> https://github.com/nathaliega/youtube</a> </h5>
                    <!-- <p>Learn more ></p> -->
                  </div>
              </div>

            </div>
        </section>

        <section id="contact" class="general-contact">
          <php
            include(contact-form-process.php);
          ?>
            <h2>LET'S CONNECT! </h2>
            <div class="contact-wrapper">
  
                <!-- Left contact page --> 
                  
                  <form id="contact-form" class="form-horizontal" role="form" action="contact-form-process.php" method="post">
                     
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                      </div>
                    </div>
              
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                      </div>
                    </div>
              
                    <textarea class="form-control2" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                    
                    <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                      <div class="alt-send-button">
                        <span class="send-text">SEND</span>
                      </div>
                    
                    </button>
                    
                  </form>
                  
                <!-- Left contact page --> 
                  
                    <div class="direct-contact-container">
              
                      <ul class="contact-list">
                        <li class="list-item"><span class="contact-text place">France</span></i></li>
                        
                        <li class="list-item"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">+33 0749132609</a></span></i></li>
                        
                        <li class="list-item"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">nathaliegalvez8@gmail.com</a></span></i></li>
                        
                      </ul>
              
                      <hr>
                      <ul class="social-media-list">
                        <a href="https://github.com/nathaliega" target="_blank" class="contact-icon">
                          <li> <i class="fa fa-github" aria-hidden="true"></i></li></a>
                        
                        <a href="" target="_blank" class="contact-icon">
                          <li> <i class="fa fa-file-text-o" aria-hidden="true"></i></li></a>

                        <!-- <li><a href="#" target="_blank" class="contact-icon">
                          <i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#" target="_blank" class="contact-icon">
                          <i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>        -->
                      </ul>
                      <hr>
              
              
                    </div>
                  
                </div>

        </section>

    </div>

    <script>
    
    const observer = new IntersectionObserver((entries) =>  {
      entries.forEach((entry) => {
        console.log(entry)
        if (entry.isIntersecting) {
          entry.target.classList.add('show');
        } else {
          entry.target.classList.remove('show')
        }
      })
    })

    const hiddenElements = document.querySelectorAll('.project');
    hiddenElements.forEach((el) => observer.observe(el))




        document.querySelector('#contact-form').addEventListener('submit', (e) => {
    e.preventDefault();
    e.target.elements.name.value = '';
    e.target.elements.email.value = '';
    e.target.elements.message.value = '';
  });

    </script>

</body>

</html>

